<h1>Add a review:</h1>

<%= form_for [@product, @review] do |f| %>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <%= f.label :content_body %>
  <%= f.text_area :content_body %>
  <%= f.label :author %>
  <%= f.text_field :author %>
  <p><%= f.submit %></p>
<% end %>
